@import 'mixins';

//*****************************************************************************
//VARIABLES
//*****************************************************************************

//General
$font-stack: "'Open Sans', Helvetica, Arial, sans serif";


//Colors
$almostBlack: #111111;


//Color Assignmments
$color_body_bkg: "white";
$color_body: $almostBlack;


//Custom Mix-ins

