@import 'mixins';

//*****************************************************************************
//VARIABLES
//*****************************************************************************

//General
$heading-font-stack: 'Garmond EB', 'Times New Roman', 'serif';
$body-font-stack: 'oswald', Helvetica, Arial, 'sans serif';
$hero: "../images/hero.jpg";

//Colors
$almostBlack: #111111;


//Color Assignmments
$color_body_bkg: white;
$color_body: $almostBlack;


//Custom Mix-ins

